@font-face {
  font-family: 'InaiMathi';
  src: url(assets/InaiMathi.ttf);
  src: local('InaiMathi.ttf'), url(assets/InaiMathi.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

button:hover {
  border: 2px solid blue;
}

header {
  display: block;
}

.navbar {
  background-color: #3c3a39;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0 24px;
}

.navbar > * {
  color: white;
}

.menu > * {
  color: #fff;
}

.profile {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
}

.introduction {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 120px 24px;
  background-image: url(assets/illustration-header-mobile.png);
  background-position: right 125%;
  background-repeat: no-repeat;
}

.item-container > * {
  margin: 0 16px;
}

.aboutme-container > * {
  color: #fff;
}

.introduction > div {
  display: flex;
  flex-direction: column;
}

.introduction > div > * {
  margin: 12px 0;
}

.presentation {
  color: #ff6b00;
  margin-top: 120px;
  font-size: 56px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Crete Round', serif;
  line-height: 64px;
  letter-spacing: 0.37px;
  order: 0;
  flex-grow: 0;
}

.profesion {
  color: #fff5e1;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  order: 1;
  flex-grow: 0;
}

.context {
  color: #fff;
  order: 2;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
}

.social {
  color: white;
  display: flex;
}

.works {
  padding: 120px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.work-title > h2 {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  color: #1c1a19;
}

.multi-title {
  height: 0;
  width: 100%;
  border: 1px solid #212121;
  margin: 24px 0;
}

.multiporpuse {
  padding: 32px 0;
  width: 100%;
}

.multiporpuse > img {
  margin: 24px 0;
}

.multiporpuse-right > h2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.multiporpuse-right > p {
  font-family: 'Inter', sans-serif;
  margin: 12px 0;
}

.button-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0 12px;
  justify-content: flex-start;
}

.textgrid {
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  padding: 10px 12px;
  margin: 12px 0 22px 0;
  background: rgba(255, 255, 255, 0.24);
}

.textgrid:hover {
  border: 2px solid blue;
}

.seeproject {
  background-color: #ff6b00;
  grid-column: 1/3;
  padding: 12px;
  color: #fff;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
}

.works-grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 100%;
  justify-content: center;
  width: 100%;
}

.item {
  background-image: url(assets/leftimg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  width: 100%;
}

.centering {
  padding: 24px;
}

.item-container > h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-top: 84px;
  color: #fff;
}

.item-container > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.works-buttons {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0 12px;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.streched {
  background-color: #ff6b00;
  padding: 12px;
  color: #fff;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0;
}

.streched:hover {
  border: 2px solid blue;
}

.aboutme-container {
  background: #262626;
  width: 100%;
  padding-bottom: 120px;
}

.aboutme-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 120px 24px;
  background-image: url(assets/about-me-mobile.png);
  background-position: right 75%;
  background-repeat: no-repeat;
}

.aboutme-profile > div {
  display: flex;
  flex-direction: column;
}

.aboutme-profile > div > * {
  margin: 12px 0;
}

.aboutme {
  color: #ff6b00;
  margin-top: 120px;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Crete Round', serif;
  line-height: 88px;
  letter-spacing: 0.37px;
  order: 0;
  flex-grow: 0;
}

.resume {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  padding: 12px;
}

.multi-line {
  height: 0;
  width: 100%;
  border: 1px solid #fff;
  margin-top: 65%;
}

.list-container {
  width: 100%;
  padding: 0 24px;
}

.list-profile {
  display: flex;
  justify-content: center;
}

.list-profile > h2 {
  font-family: 'InaiMathi', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-right: 26px;
}

.list-profile > img {
  margin-right: 10px;
  height: 18px;
  width: 18px;
  align-self: center;
}

.languages {
  text-align: center;
}

.languages > li {
  margin: 30px 0;
}

.form-container {
  padding: 120px 24px;
  display: flex;
  flex-wrap: wrap;
}

.form-container form {
  width: 100%;
}

.form-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 73px;
  height: 216px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.form-title h3 {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.name {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 24px;
}

.name input::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #979493;
  opacity: 0.8;
}

.textarea textarea {
  border: none;
  background-color: #fbf8f7;
  width: 100%;
  height: 114px;
  padding: 12px;
  margin-bottom: 24px;
}

.textarea textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #3c3a39;
  opacity: 1;
}

.name input {
  border: none;
  height: 18px;
  margin-left: 16px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
  background-color: #ff6b00;
  padding: 12px;
  color: #fff;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  border: none;
}

.button-container button:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  transition: 0.4s;
  cursor: pointer;
}

.bottom-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dfe1e6;
  margin-bottom: 8px;
}

.bottom-nav ul {
  width: 200px;
  height: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #505f79;
  margin-top: 24px;
  padding-bottom: 13px;
}

.bottom-nav::after {
  content: '';
  height: 5px;
  width: 134px;
  position: relative;
  background-color: #0d151e;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .works {
    padding: 5px 118px 0 118px;
    font-family: 'Crete Round', serif;
  }

  .works-container {
    padding: 0 23px 0 25px;
    margin-bottom: 130px;
  }

  .work-title {
    display: flex;
    margin: 130px 12.5px 114px 10.5px;
    justify-content: center;
  }

  .multi-title {
    width: 794px;
    margin-left: 24px;
  }

  .multiporpuse {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .multiporpuse img {
    margin: 0;
    min-width: 684px;
    min-height: 448px;
  }

  .multiporpuse-right {
    margin: 0 0 24px 24px;
    font-size: 28px;
    line-height: 28px;
  }

  .multiporpuse-right h2 {
    font-size: 40px;
    line-height: 52px;
  }

  .multiporpuse-right p {
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    font-style: normal;
    margin: 24px 0;
  }

  .textgrid {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
  }

  .button-grid {
    margin-bottom: 24px;
  }

  .seeproject {
    background-color: #f55800;
    line-height: 24px;
  }

  .works-grid {
    margin: 24px 0;
    grid-template-columns: auto auto auto;
    grid-column-gap: 24px;
  }

  .item {
    margin: 0;
    min-width: 369px;
    min-height: 435px;
  }

  .left-img {
    background-image: url(assets/leftimg.png);
    background-size: 100% 100%;
  }

  .mid-img {
    background-image: url(assets/midimg.png);
    background-size: 100% 100%;
  }

  .right-img {
    background-image: url(assets/rightimg.png);
    background-size: 100% 100%;
  }

  .item-container {
    margin-top: 170px;
  }

  .item-container h2 {
    margin-top: 8px;
  }

  .works-buttons {
    margin-bottom: 16px;
  }

  .item-container p {
    margin: 24px 16px;
  }

  .streched {
    display: none;
  }

  .aboutme-profile {
    padding: 0 142px 9px 142px;
    background-image: url(assets/group.png);
    background-position: 100% 75%;
    background-repeat: no-repeat;
  }

  .aboutme-profile div {
    margin-right: 560px;
    margin-top: 142px;
  }

  .aboutme-profile > div > * {
    margin: 24px 0;
  }

  .context {
    font-size: 20px;
    padding-bottom: 24px;
  }

  .multi-line {
    margin: 0;
  }

  .list-container {
    padding: 141px;
  }

  .languages-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 164px;
  }

  .list-profile {
    justify-content: flex-start;
  }

  .languages {
    text-align: left;
  }

  .form-container {
    flex-wrap: nowrap;
  }

  .form-title {
    text-align: left;
    margin-left: 135px;
    margin-right: 24px;
    max-width: 455px;
  }

  .form-container form {
    margin-right: 120px;
  }

  .button-container {
    justify-content: flex-start;
  }

  .bottom-nav::after {
    display: none;
  }
}
