* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
  }

  header {
      display: block;
  }

.navbar {
  background-color: #3C3A39;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0 24px;
}

.navbar > *{
  color: white;
}

.profile {
  font-style: normal;
  font-weight: bold; 
  font-size: 18px;
  line-height: 24px;
  align-self: center;
}

.introduction {
  background-color: #1C1A19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 590px;
  width: 100%;
  padding: 120px 24px;
}

.introduction > div {
    display: flex;
    flex-direction: column;
}

.introduction > div > * {
  margin: 12px 0;
}

.presentation {
  color: #FF6B00;
  margin-top: 120px;
  font-size: 56px;
  font-weight: normal;
  font-style: normal;
  line-height: 64px;
  letter-spacing: 0.37px;
  order: 0;
  flex-grow: 0;
}

.profesion {
  color: #FFF5E1;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  order: 1;
  flex-grow: 0;
}

.context {
  color: #FFFFFF;
  order: 2;
  flex-grow: 0;

}